.newsletter-container {
  height: 100%;
}

.newsletter-content-container {
  padding: 20px
}

.list-data-container {
  padding: 0;
}

.list-container {
  list-style: none;
  display: flex;
  align-items: center;
  align-content: space-between;
  height: 70px;
}

.icon-container {
  display: flex; 
  margin-right: 10px;
  align-items: center;
  height: 100%;
}

@media screen and (min-width: "375px") {
  .newsletter-container {
    /* background-color: black; */
  }
}

